#mySidenav.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
    a(href='#') Groups
    a(href='#') Event
    a(href='#') Log ud
// Use any element to open the sidenav
span(onclick='openNav()')
// Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page
#main
    .row
        .col-sm-1
        .col-sm-4
            include admingroups
        .col-sm-1
        .col-sm-4
            include adminevents
        .col-sm-2