#mySidenav.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
    a(href='/admin/1groups') GroupsAdmin
    a(href='/admin/events') EventsAdmin
    a(href='/logout') Log ud
Use any element to open the sidenav
span(onclick='openNav()')
#main

    .row
        .col-sm-1
        .col-sm-4
        include admingroups
        .col-sm-1
        .col-sm-4
        include adminevents

        .col-sm-2