extends layout
block content
    include nav

    doctype html
    head
      meta(charset='utf-8')
      link(href='http://localhost:3000/config/scripts/fullcalendar.css' rel='stylesheet')
      script(src='http://localhost:3000/config/scripts/fullcalendar.js')


    script.
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                //window config
                height: 500,
                aspectRatio: 1.35,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },

                //month view
                fixedWeekCount: false,

                //week view
                
                initialView: 'timeGridWeek',
                scrollTime: '08:00:00',


                // nowindicator: true,
                expandRows:true,
                navLinks: true,
                selectable: true,
                dayMaxEventRows: true, // for all non-TimeGrid views
                events: !{JSON.stringify(eventlist)},
            });
            calendar.render();
        });
    #calendar
