extends layout

block content
    include nav
    .create-box
        .header
            h2 Opret event
        form(action="/createevent", method="post")
            .form-event
                label Event navn &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type="text" name="event_name" class="event-input")
            .form-event1
                label Beskrivelse &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                textarea(type="textarea" name="beskrivelse" class="event-input1")
            .form-event
                label Lokation &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type="text" name="lokation" class="event-input")
            .form-event
                label Tid &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type="time" name="tid" class="event-input")
            .form-event
                label Dato &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type="date" name="dato" class="event-input")
            .form.event
                label Pris &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type="text" name="pris" class="event-input")
            .form-event
                label Facebook URL &nbsp&nbsp
                input(type="url" name="fburl" class="event-input")

            button(type="submit" class="btn btn-primary") Submit
