extends layout

block content
    include nav
    h1= current = 'Groups'

    ol
        .group-event
            each group in grouplist
                h5.group-name

                    .group
                        .group-left

                            .name #{group.group_name}
                            .email Email: #{group.group_email}
                            .fburl Facebook: #{group.fburl}