extends layout

block content
    include nav
    .login-box
        .header
            h2
        form(action="/login", method="post")
            .form-group
                label Username
                input(type="text" name="Username" class="form-control shadow-none")
            .form-group
                label Password
                input(type="password" name="password" class="form-control")
            button(type="submit" class="btn btn-primary") Login

            input(type='button' onclick="location.href='/register';" value='Register')

