nav.topnav

    li
        a(href='/events' style='color: white') Events
    li
        a(href='/groups' style='color: white') Groups
    li
        a(href='/login' style='color: white') Login
    li
        a(href='/logout' style='color: white') Logout
    li
        a(href='/admin' style='color: white') AdminPanel



