
ul class sidebar nav
nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/')
        ul.nav.navbar-nav
            li.active
                a(href='/') Main
            li
                a(href='/events') Events
            li
                a(href='/groups') Groups
            li
                a(href='/users') Login
