nav.topnav

ul
    a(href='/events' style='color: white') Events

    a(href='/groups' style='color: white') Groups

    a(href='/login' style='color: white') Login

    a(href='/admin' style='color: white') admin




