nav.topnav

ul
    a(href='/events' style='color: white') Events

    a(href='/groups' style='color: white') Groups

    a(href='/login' style='color: white') Login

    a(href='/calendar' style='color: white') Calendar

    a(href='/logout' style='color: white') Logout



