nav.topnav

head
    title
header
    nav.topnav
        ul
            li
                a(href='/events' style='color: white') Events
            li
                a(href='/groups' style='color: white') Groups
            li
                a(href='/login' style='color: white') Login
            li
                a(href='/logout' style='color: white') Logout
            li
                a(href='/admin' style='color: white') AdminPanel
            li
                a(href='/grouppanel' style='color: white') GroupPanel
            li
                form(action=`/events/search`, method='GET', role='search')
                    .form-search
                        input(type='search' placeholder=' Search for all events' name='SearchName' id="SearchID")
                        button(type='search' id='searchButton') Search Events
            li
                form(action="/groups/search" `/events/search`, method='GET', role='search')
                    .form-search
                        input(type='search' placeholder=' Search for all groups' name='SearchGroup' id="SearchIDG")
                        button(type='search' id='searchButton') Search Groups