nav.topnav

    li
        a(href='/events' style='color: white') Events
    li
        a(href='/groups' style='color: white') Groups
    if loggedin
        li
            a(href='/logout' style='color: white') Logout
    else
        li
            a(href='/login' style='color: white') Login


