body {
  background-image: url('../images/AMP.png');
    margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
    color: #eeeeee;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
button {
    position: relative;
    display: inline-block;
    background-color: white;
}

.nav.ul{
    color: #eeeeee;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

button:hover .dropdown-content {
    display: grid;
}

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.event-container .event {
    box-shadow: 0 4px 16px -8px white;
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .event-left {
    background-image: url('../images/pan.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

ol h5.event-title {
    display: grid;
}

.event .event-right .event-timing {
    background: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

ol.h3.group-name {
    display: grid;
}

.group-event .group {
    display: grid;
    border-radius: 8px;
    padding-right: 600px;
    padding-left: 600px;
    margin: 20px 0;
}

.group .group-left {
    background-image: url('../images/cage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.group .group-name {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}