/*Change standard style on the hole page*/
body {
  background-image: url('../images/AMP.png');
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
    color: white;
}

/*Removes the underline of hyperlinks*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*Style the button color*/
button {
    position: relative;
    display: inline-block;
    background-color: white;
}

/*Customize the dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(white);
    padding: 12px 10px;
    z-index: 1;
}
/*Makes the option stand over each other instead of beside & makes the button hoverable*/
button:hover .dropdown-content {
    display: grid;
}

/*Adjust the placements of the events*/
.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}
/*Creates the box for event information*/
.event-container .event {
    box-shadow: 0 4px 16px -8px white;
    background-color: black;
    color: white;
    display: flex;
    border-radius: 70px;
    margin: 32px 10;
}
/*Customize the box*/
.event .event-left {
    background-image: url('../images/evn.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
/*Customize the placement of the text inside the box*/
.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 24px;
}

/*Customize the blue box that state time*/
.event .event-right .event-timing {
    background: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    font-size: 14px;
}

/*GROUPS CSS*/

.group-event {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.group-event .group {
    box-shadow: 0 4px 16px -8px white;
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.group .group-left {
    background-image: url('../images/grup.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 75px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.group .group-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

ol h5.event-title {
    display: grid;
}

