doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    <script> type="text" src="./ViewCopy.js"</script>
    
  body
    h1 Hello, world2
    block content